<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName" default-lazy-init="true">
	<bean id="jdbcService" class="dao.JdbcService">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		  <property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="menuService" class="ums.service.MenuService">
		  <property name="jdbcService" ref="jdbcService" />
		  <property name="functionService" ref="functionService" />
	</bean>
	
	<bean id="functionService" class="ums.service.FunctionService">
		  <property name="jdbcService" ref="jdbcService" />
	</bean>
	
	<bean id="userService" class="ums.service.UserService">
		<property name="jdbcService" ref="jdbcService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
	<bean id="roleService" class="ums.service.RoleService">
		<property name="jdbcService" ref="jdbcService"></property>
	</bean>
	
	<bean id="departmentService" class="ums.service.DepartmentService">
		<property name="jdbcService" ref="jdbcService"></property>
	</bean>
	<bean id="dictionaryService" class="ums.service.DictionaryService">
		<property name="jdbcService" ref="jdbcService"></property>
	</bean>
	<bean id="userManager" class="ums.service.UserManager">
		<property name="userService" ref="userService" />
		<!-- <property name="menuService" ref="menuService" />
		<property name="roleService" ref="roleService" />
		<property name="functionService" ref="functionService" />
		 -->
	</bean>
	<bean id="commonService" class="ums.service.CommonService">
		<property name="jdbcService" ref="jdbcService"></property>
	</bean>
</beans>